<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spring</title>
</head>

<body bgcolor=" gildenrod ">
    <div>


        <form action="/" method="post">
            {% csrf_token %}
            <textarea style="background-color: rgb(117, 18, 231);" name="text" id="text" cols="80" rows="10" style="height: 112px; width: 744px;"></textarea>
            <br>
            <input type="checkbox" name="remove_punc"> remove punctuation
            <button class="btn btn-danger" type="submit" style="background-color: brown;">submitt
            </button>
        </form>

        <h1>💋😃❤😢🎶🎶😢🎶🎶😢😢😢😢😉😎😁❤✔💋😃</h1>
</body>

</html>



<!-- @keyframes slider {
            0% {
                background-image: url('{% static" images/7.jpg "%}');
            }
            20% {
                background-image: url('{% static" images/8.jpg "%}')
            }
            40% {
                background-image: url('{% static" images/9.jpg "%}')
            }
            60% {
                background-image: url('{% static" images/10.jpg "%}')
            }
            80% {
                background-image: url('{% static" images/11.jpg "%}')
            }
        }
        
        -->