{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>

<body>

    <h1 class="text-center">ASSALAMUALIAKUM RANA G CHHA GAE HOOO GGG BAWA G</h1>
    <hr/>
    <div style="width: 500px; height: 500px;" class="container">
        <img width="1265px" height="400px" src="/static/images/71.jpg" alt=""><br>

        <br>

        <video width="1265px" height="500px" controls src="/static/videos/1.mp4"></video>

        <br>
        <audio controls src="/static/audio/2.mp3"> music</audio><br>

    </div>


</html>